---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Employment">
    <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-16 max-w-screen-lg mx-auto mt-16">
        <div class="rounded-lg border border-gray-200 bg-white flex flex-col">
            <img src="/photos/ymca.png" alt="" class="bg-gray-900 w-full">
            <div class="py-3.5 px-5 my-auto">
                <h2 class="text-xl font-bold text-blue-500">Lifeguard</h2>
                <p class="mt-2.5 text-gray-800 inset-x-0">
                    Working as a lifeguard and swim instructor from July 2019 to present. Responsable for the safety of patrons while working. Promoted to deck lead in January 2021.
                    Responsabilities of deck lead include leading a group of 4-6 swim instructors, ensuring that lessons begin on time, and dealing with any issues that patrons may have with
                    swimming lessons.
                </p>
            </div>
        </div>
        <div class="rounded-lg border border-gray-200 bg-white flex flex-col">
            <img src="/canada.png" alt="" class="bg-gray-900 w-full my-28">
            <div class="py-3.5 px-5 my-auto">
                <h2 class="text-xl font-bold text-blue-500">Ballot Counter</h2>
                <p class="mt-2.5 text-gray-800 inset-x-0">
                    Worked as a federal ballot counter in September 2021. Entrusted to input counted ballots into computer program.
                </p>
            </div>
        </div>
    </div>
</Layout>
