---
import Layout from "../layouts/Layout.astro"
import fmuntenth from "../photos/fmuntenth.png"
import website from '../photos/website.png'
import paradigm from '../photos/paradigm.png'
---

<Layout title="Projects">
    <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-16 max-w-screen-lg mx-auto my-16">
        <div class="rounded-lg border border-gray-200 bg-white px-2 py-2 flex flex-col">
            <img src={paradigm} alt="" class="">
            <div class="py-3.5 px-5">
                <h2 class="text-xl font-bold text-blue-500">Paradigm Engineering Software Team Lead</h2>
                <p class="text-gray-800">
                    Leading a team of 10 computer engineering and computer science to design an algorithm to autonomously pilot a go kart around a track using python, C++, ROS2
                    and Gazebo Classic. The team is set to compete in the Autonomous Karting Series hosted by Purdue University in May 2025.
                </p>
                <a href="https://munparadigm.com/" class="bg-blue-500 text-white py-1 px-2 rounded-xl inline-block mt-2 hover:bg-blue-700">Learn More</a>
            </div>
        </div>
        <div class="rounded-lg border border-gray-200 bg-white px-2 py-2 flex flex-col">
            <img src={website} alt="" class="bg-gray-900 rounded mt-2">
            <div class="py-3.5 px-5 mt-3">
                <h2 class="text-xl font-bold text-blue-500">This Website</h2>
                <p class="mt-2.5 text-gray-800">
                    Created personal website using AstroJS, ReactJS and TailwindCSS.
                </p>
            </div>
        </div>
        <div class="rounded-lg border border-gray-200 bg-white px-2 py-2 flex flex-col">
            <img src={fmuntenth} alt="" class="bg-gray-900 rounded">
            <div class="py-3.5 px-5">
                <h2 class="text-xl font-bold text-blue-500">FMUNTENTH Software Team Member</h2>
                <p class="text-gray-800">
                    Worked with a team of electrical and computer engineers to create an autonomous racecar 1/10 the size of a normal car. This was accomplished by using
                    python to make the algorithm and using ROS to allow the algorithm to communicate with the hardware components. The team competed in the competition held 
                    in San Antonio, Texas for CPS-IOT week.
                </p>
                <a href="https://fmuntenth.com/" class="bg-blue-500 text-white py-1 px-2 rounded-xl inline-block mt-2 hover:bg-blue-700">Learn More</a>
            </div>
        </div>
    </div>
</Layout>