---
import linkedin from "../photos/linkedin.png"
import github from "../photos/github.png"
---

<div class="sticky bottom-0 bg-gray-900 py-2 w-screen flex flex-row justify-between">
    <p class="mx-8 my-auto text-white">© 2023 Sam Sheppard. All Rights Reserved.</p>
    <div class="flex flex-row mr-4">
        <a href="https://www.linkedin.com/in/samuel-sheppard-a22393226">
            <img src={linkedin} class="w-10 mr-4" alt="">
        </a>
        <a href="https://github.com/ssheppard03">
            <img src={github} class="w-10 bg-white rounded-full" alt="">
        </a>
    </div>
</div>