<div class="flex items-center justify-between px-8 py-3.5 top-0 bg-gray-900">
    <a href="/" class="sm:text-lg mr-4 lg:text-4xl text-blue-500 font-bold">Sam Sheppard</a>
    <div class="flex items-center space-x-3.5">
        <a href="src/photos/resume_fall_2024.pdf" class="sm:text-lg lg:text-2xl text-white hover:text-blue-500">Resume</a>
    </div>
</div>
